VITE_APPWRITE_URL='https://fra.cloud.appwrite.io/v1'
VITE_APPWRITE_PROJECT_ID="6a2904f20027440f9288"
VITE_APPWRITE_DATABASE_ID="6a2906270032abb112e1"
VITE_APPWRITE_COLLECTION_ID="articles"
VITE_APPWRITE_BUCKET_ID="6a290b44002ca563fd97"
VITE_TINYMCE_API_KEY=""
